# Home Stack - Infrastructure Configuration
DOMAIN_NAME=invariantcontinuum.io
ADMIN_EMAIL=admin@invariantcontinuum.io
ADMIN_PASSWORD=changeme

# Nginx and Let's Encrypt
CERTBOT_EMAIL=admin@invariantcontinuum.io
CERTBOT_DOMAINS="auth.invariantcontinuum.io pgadmin.invariantcontinuum.io redis.invariantcontinuum.io nginx.invariantcontinuum.io crux.invariantcontinuum.io"
CERTBOT_STAGING=false

# PostgreSQL
POSTGRES_VERSION=16-alpine
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=postgres
POSTGRES_DATABASES="keycloak"
POSTGRES_DATABASE_PASSWORD=changeme

# Keycloak
KEYCLOAK_VERSION=26.0
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=changeme
KC_HOSTNAME=https://auth.invariantcontinuum.io
KC_HOSTNAME_STRICT=true
KC_HTTP_ENABLED=true

# PgAdmin
PGADMIN_VERSION=latest

# Redis
REDIS_VERSION=7-alpine
REDIS_PASSWORD=changeme
REDIS_COMMANDER_VERSION=latest
